* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background: #0f0f1a;
  color: #e0e0f0;
  overflow: hidden;
}/* You can add global styles to this file, and also import other style files */
